---
import Layout from '../layouts/Layout.astro'
import Footer from '../components/Footer.astro'

const page = {
  title: "Ayo's Threads",
  description: 'Incubator for thoughts before the become a blog',
}
---

<Layout title={page.title} description={page.description}>
  <main>
    <h1><span class="text-gradient">{page.title}</span></h1>

    <p>{page.description}</p>
    <p>Visit the <a href="https://ayco.io/threads">page</a></p>
    <p>You're probably wondering how it works.</p>
    <p>
      What you are viewing now, is but a placeholder in the <a
        href="https://git.ayo.run/ayo/ayco.io-astro#readme"
        >static parts of my personal website.</a
      > This is not the full picture. There is a <a
        href="https://git.ayo.run/ayo/ayco.io-flask#readme">Flask server</a
      > serving the static assets who is also responsible for attaching dynamic parts
      / blueprints like my <a href="https://git.ayo.run/ayo/threads#readme"
        >Threads</a
      > project.
    </p>
    <p>
      I built it that way, because Python serves as a good "glue" to put
      different parts together. Especially now with <em>LLMs</em>... where
      Python is probably their greatest strength.
    </p>
    <p>
      Anyway, for questions don't hesitate to <a
        href="https://ayo.ayco.io/about#contact">contact me</a>
    </p>
  </main>
  <Footer />
</Layout>

<style>
  .text-gradient {
    font-weight: 900;
    background-image: var(--ayo-gradient);
    animation: pulse 4s ease-in-out infinite;
    background-size: 500% 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
  }

  .highlighted-content {
    margin: 1rem 0;
    background: #4f39fa;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }

  .highlighted-content code {
    font-size: var(--font-size-base);
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }

  .link-card-grid {
    display: grid;
    gap: 1rem;
    padding: 0;
  }
</style>
