---
import '../layouts/variables.css'
---

<a href="https://chat.ayo.run/join/7IKG-h3nW-pD1H">
  <status-indicator id="chat-link" pulse status="positive">
    Chat
  </status-indicator>
</a>

<style>
  status-indicator#chat-link {
    display: inline-block;
    padding: 5px 7px;
    border: 1px solid var(--pill-border-color);
    border-radius: var(--pill-border-radius);
    font-size: var(--font-size-sm);

    a {
      text-decoration: none;
    }
  }
</style>
